<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Change Request</title>
    <link rel="stylesheet" href="/css/signUp.css">
  </head>
  <body>
    <div class="center">
      <h1>Sign Up</h1>
      <form action="/changerequest"   method="post">
        <div class="txt_field">
        <div class="txt_field">
            <input type="eamil" name="email">
            <span></span>
            <label>eamil</label>
          </div>
        <input type="submit" value="Request Code">
     
        </div>
      </form>
    </div>

  </body>
</html>
