<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
   
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <body>
    <section class="hero-section">

      <nav class="navbar">
        <h2>Pets world</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/signIn">signIn/signUp</a></li>
        </ul>
      </nav>
      <div class="hero-text">
        <h1>Pets World.</h1>
        <p>Online Pet accessories Store</p>
        <a href="/signIn">Get Started</a>
      </div>
    </section>
  </body>
</html>
