<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/signin.css">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form action="/signIn" method="post">
        <div class="txt_field">
          <input type="text" name="username">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password">
          <span></span>
          <label>Password</label>
        </div>
        <div id="signIn-Role">
          <Span id="role">Login As : </Span>
          <input type='radio' name='role' value='admin' checked><Span id="role1">Admin</Span> 
          <input type='radio' name='role' value='user'><Span id="role1">User</Span> <br>
      </div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="/signUp">Signup</a>
        </div>
        var message={
          
        }
      </form>
    </div>

  </body>
</html>
