<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update Password</title>
    <link rel="stylesheet" href="/css/signUp.css">
  </head>
  <body>
    <div class="center">
      <h1>Update Password</h1>
      <form action="/updatepassword"   method="post">
        <div class="txt_field">
          <input type="text" name="username">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="eamil" name="code">
            <span></span>
            <label>code</label>
          </div>
        <div class="txt_field">
          <input type="password" name="password">
          <span></span>
          <label>New Password</label>
        </div>
        <input type="submit" value="update Password">
      
      </form>
    </div>

  </body>
</html>
